{% extends "DEVEditorBundle::layout.html.twig" %}

{% block title%}{{ parent() }} Ajout Article{% endblock%}

{%block body%}

<div class="well text-center">
	<form method="post" {{ form_enctype(form) }} role="form" class="form-horizontal">
		<div class="control-group">
		{{ form_widget(form) }}
		</div>
		<input type="submit" class="btn btn-primary" />
	</form>
</div>
<script>
	{{ tinymce_init() }}
</script>
{%endblock%}
