<div class="row footbar">
	<div class="col-md-2">
		
	</div>
	<div class="col-md-8 text-center">
		<br>
		<h5><b>Copyright © Groupe Scout Henri De La Rochejacquelein 2014</b></h5>
	</div>
	<div class="col-md-2 text-right">
		<b>1er Bordeaux</b>
		<img src="{{asset('img/croix.png')}}" class="img-rounded croix"/>
	</div>
</div>