<div class="row topbar headwhite">
	<div class="col-md-2">
		<b>1er Bordeaux</b>
		<img src="{{asset('img/croix.png')}}" class="img-rounded" style="height: 45%; width: 45%;"/>
	</div>
	<div class="col-md-8">
		<p>
			<b> <h3>Groupe Scout Henri De La Rochejacquelein</h3></b>
		</p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Scoutisme catholique traditionnel depuis 1979</b>
	</div>
	<div class="col-md-2 text-right">
		<br>
		<a href="{{path('dev_chef_homepage')}}" class="btn btn-success">Coin du Chef</a>
	</div>
</div>