{% extends "DEVMainBundle::layout.html.twig" %}

{% block title%}{{ parent() }} Accueil{% endblock%}

{%block body%}
<div class="col-md-8" style="color: black">
	<div class="well">
		<legend>
			Dernières Actualités
		</legend>
		<table class="table">
			{%for actu in actus %}
			<tr class="click">
				<td>{{actu.titre}}</td>
				<td>{{actu.datemod|date('d-m-Y')}}</td>
			</tr>
			{%endfor%}
		</table>
	</div>
</div>
<div class="col-md-4">
	<div id="carousel_fade" class="carousel slide carousel-fade">
		<div class="carousel-inner shad">
			<div class="item">
				<img alt="" src="http://img.over-blog-kiwi.com/0/92/46/79/20140210/ob_dd80d0_img-03-42.JPG" class="img">

			</div>
			<div class="item">
				<img alt="" src="http://img.over-blog-kiwi.com/0/92/46/79/20140214/ob_4b49d3_camp-ete-2013-48.JPG" class="img">
			</div>
			<div class="item">
				<img alt="" src="http://img.over-blog-kiwi.com/0/92/46/79/20140210/ob_0369ea_dsc05510.JPG" class="img">
			</div>
			<div class="item">
				<img alt="" src="http://img.over-blog-kiwi.com/0/92/46/79/20140211/ob_4c61ca_dsc05735.JPG" class="img">
			</div>
			<div class="item active">
				<img alt="" src="http://img.over-blog-kiwi.com/0/92/46/79/20140210/ob_911c9b_img-20130705-140155.jpg" class="img">
			</div>
			<div class="item">
				<img alt="" src="http://img.over-blog-kiwi.com/0/92/46/79/20140211/ob_d7f0a5_img-20130706-214123.jpg" class="img">
			</div>
			<div class="item">
				<img alt="" src="http://img.over-blog-kiwi.com/0/92/46/79/20140209/ob_a99671_dsc-0087.JPG" class="img">
			</div>

		</div>
		<a class="carousel-control left btn-control " href="#carousel_fade" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="carousel-control right btn-control" href="#carousel_fade" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
</div>
<script>
	jQuery('.carousel').carousel({
		interval : 5000
	});
</script>
{%endblock%}
