{% extends "DEVMainBundle::layout.html.twig" %}

{% block title%}{{ parent() }} Scoutisme{% endblock%}

{%block body%}
<div class="col-md-8" style="color: black">
	<div class="well">
		<legend>
			Le Scoutisme
		</legend>
	</div>
</div>
{%endblock%}
