{% extends "DEVMainBundle::layout.html.twig" %}

{% block title%}{{ parent() }} Scoutisme{% endblock%}
{% block meta %}
<meta name="Description" content="Les articles qui concernent les techniques scouts">
<meta name="Keywords" content="Techniques et tout ce qui est à savoir pour être scout, guide ou parent de scout">
<meta name="Subject" content="Les techniques scouts en générale">
<meta name="Revisit-After" content="15 days">
<meta name="Robots" content="all">
<meta name="Rating" content="general">
<meta name="Distribution" content="global">
<meta name="Category" content="sports">
{%endblock%}
{%block body%}
<ol class="breadcrumb">
  <li><a href="{{path('dev_main_homepage')}}">Accueil</a></li>
  <li>Technique</li>
</ol>
<div class="col-md-8">
	<div class="well-thr">
		<legend>
			Les Techniques
		</legend>
		<table class="table">
			{%for article in articles%}
			{%if article.categorie.nom == 'Techniques'%}
			<tr class="click fcbox" href="{{path('dev_main_view_article',{'id':article.id})}}?iframe">
				<td>{{article.titre}}</td>
			</tr>
			{%endif%}
			{%endfor%}
		</table>
	</div>
</div>
<script>
	$(".fcbox").fancybox({
		'hideOnContentClick' : true,
		'padding' : 0,
		'overlayColor' : '#D3D3D3',
		'transitionIn' : 'elastic',
		'transitionOut' : 'elastic',
		'overlayOpacity' : 0.7,
		'zoomSpeedIn' : 300,
		'zoomSpeedOut' : 300,
		'width' : 950,
		'height' : 600,
		'type' : 'iframe'
	}); 
</script>
{%endblock%}
